
<h1> Formdan veri al </h1>
<form action="/request/FormdanVeriAl" method="post">
    <input name="No" />
    <input name="Ad" />

    <button type="submit"> Gönder </button>
</form>


<h1> Formdan modelle  veri al </h1>
<form action="/request/FormdanModelAl" method="post">
    <input name="No" />
    <input name="Ad" />

    <button type="submit"> Gönder </button>
</form>