
<h1> Login İşlemleri </h1>

<h1> @ViewBag.Mesaj </h1>


<form action="/oturum/login" method="post">
    <p>  Kullanıcı Ad <input name="KullaniciAd" /></p>
    <p>
        Parola <input name="Parola" />
    </p>

    <button type="submit"> Gönder </button>
</form>